<mat-card class="quiz-card" *ngIf="unauthenticated==false">
    <img src="../../assets/img/utilisateur.png" class="user" >
    <div class="spacer"></div>
    <form class="example-form" [formGroup]="profileForm"  >
        <mat-form-field class="example-full-width" *ngIf="auth==true">
          <mat-label>User name</mat-label>
          <input matInput placeholder="User123" [formControl]="name" [(ngModel)]="newUser.name">
        </mat-form-field>
        <div class="spacer"></div>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="newUser.email"
                   placeholder="Ex. user@uhp.ac.ma" required  name="email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="spacer"></div>
          <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" [formControl]="password" [(ngModel)]="newUser.password" required  name="email">
           </mat-form-field>
      </form>
      <div class="spacer"></div>
      <button mat-raised-button class="but" color="primary" *ngIf="auth==false" (click)="loginUser()">S'identifier</button>
      <button mat-raised-button class="but" color="primary" (click)="addUser()" *ngIf="auth==true">S'inscrire</button>
      <p (click)="changeAuth()" class="clickable">{{output}}</p> 
</mat-card>
<div *ngIf="unauthenticated==true">
<app-question-card></app-question-card>
</div>